@import url(reset.css);

body{
	background: gray;
	text-align: center;
}


.logo{
	background: white;
	width: 35px;
	height: 35px;
	float: left;
	
	
}

.del{
	background: white;
	width: 35px;
	height: 35px;
	float: right;
}

.edit{
	
	height: 30px;
	width: 300px;
	overflow: visible;
}



p{
	text-align: center;
	height:  
}

.elements{
display: table;	
margin-left: 500px;

}
